[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"

[dev-packages]
yapf = "*"
isort = "*"
pylint = "*"
"flake8" = "*"
tox = "*"
coverage = "*"

[requires]
python_version = "3.6"
